---
---

@import "{{ site.theme }}";
#markdown-toc {list-style:none;margin:0;padding:0;}
#markdown-toc > li > ul{display:none;}
#markdown-toc > li:hover ul {display:block;list-style:none;}
#markdown-toc li a{text-decoration:none;display:block;padding:.2em 1em;}
#markdown-toc {
  position: fixed;
  left:2em;
  top:4em;
  min-height:20em;
  background-color: white;
  border-radius: 1em;
  padding: 1em 0;
  width: 18em;
}

#markdown-toc:hover > li > a:after { margin-left: 5px; content: '\25BC'; }
#markdown-toc li > a:only-child:after { margin-left: 0; content: ''; }